@font-face {
  font-family: Montserrat;
  src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}


body {
  margin: 0;
  overflow: hidden;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 50px;
}

button {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  padding-right: 40px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}


button img {
  width: 30px;
  height: 20px;
  margin-right: 5px; 

}

.music-button {
  top: 92.3%;
  left: 2%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}

#icon {
  width: 38px;
  height: 38px;
}

#icon[src="pauza.png"] {
  width: 30px;
  height: 26px;
  padding-right: 5%;
}

.volume-slider {
  position: fixed;
  top: 92%;
  left: calc(2% + 100px); 
  transform: translateY(-50%);
  width: 100px;
}

.volume-slider input {
  width: 100%;
  height: 6.5px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
}


.volume-slider input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #fff;
  cursor: pointer;
}

.song-name{
  font-size: 22px;
  font-weight: 300;
  position: absolute;
  top: 84%;
  left: 80px;
  color: white;
  font-family:'Montserrat', sans-serif;
}


.switch {
  position: absolute;
  top: -15%;
  left: 115%;
  display: inline-block;
  width: 40px;
  height: 24px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #383838;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-container {
  position: fixed;
  top: 0;
  right: -500px; 
  width: 500px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  transition: right 1.5s ease;
  z-index: 1;
  padding-top: 60px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.menu-content p {
  font-family:'Montserrat', sans-serif;
}


.menu-item {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 1.5s ease;
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
 }

.menu-item:hover {
  color: #7a7a7a; 
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  color: white;
}

.cls-button {
  padding-top: 65px;
  padding-right: 450px;
  font-weight:900;
  font-size: 50px;
}

.menu-item1 {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 1.5s ease;
  font-weight:400;
  font-size: 25px;
  font-family:'Montserrat', sans-serif;
 }

.menu-item1:hover {
  color: #7a7a7a; 
}

.content1 {
  display: flex;
    margin-top: 0px;
    width: 30%;
    margin-left: 0px;
    padding: 20px;
  }


@media (max-width: 600px) {


  .menu-container {
    position: fixed;
    top: 0;
    right: -500px; 
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.988);
    transition: right 1.5s ease;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .menu-item1:hover {
    color: #7a7a7a; 
  }
  
  .menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  color: white;
  }
  .cls-button {
    padding-top: 65px;
    padding-right: 250px;
    font-weight:900;
    font-size: 50px;
  }


  button {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    padding-right: 20px;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }

}





